In [21]:
# Import key libraries
# BTC = 51.71, ETH = 45.56, ADA = 0.93, AMZN = 228.84, TSLA = 340.01, AAPL = 227.76
import pandas as pd
import numpy as np

In [23]:
# Define a portfolio Dictionary containing 3 stocks and 3 crypto
portfolio = {'BTC': 51.71,
         'ETH': 45.56,
         'ADA': 0.93,
         'AMZN': 228.84,
         'TSLA': 340.01,
         'AAPL': 227.76}
print(portfolio)

{'BTC': 51.71, 'ETH': 45.56, 'ADA': 0.93, 'AMZN': 228.84, 'TSLA': 340.01, 'AAPL': 227.76}

In [25]:
# Define a Pandas Series using the dictionary
portf_series = pd.Series(data = portfolio)
portf_series

BTC      51.71
ETH      45.56
ADA       0.93
AMZN    228.84
TSLA    340.01
AAPL    227.76
dtype: float64

In [11]:
portf.keys()

dict_keys(['BTC', 'ETH', 'ADA', 'AMZN', 'TSLA', 'AAPL'])

In [13]:
portf.values()

dict_values([51.71, 45.56, 0.93, 228.84, 340.01, 227.76])

In [27]:
# Define another Pandas Series containing the number of securities
my_no_securities = pd.Series(data = [3, 10, 1000, 20, 20, 5], index = portf.keys())
my_no_securities

BTC        3
ETH       10
ADA     1000
AMZN      20
TSLA      20
AAPL       5
dtype: int64

In [33]:
# Multiply Pandas Series instances
total_port_value = portf_series.mul(my_no_securities)
print(total_port_value)

BTC      155.13
ETH      455.60
ADA      930.00
AMZN    4576.80
TSLA    6800.20
AAPL    1138.80
dtype: float64

In [31]:
# Multiply Pandas Series instances
total_port_value = (portf_series) * (my_no_securities)
print(total_port_value)

BTC      155.13
ETH      455.60
ADA      930.00
AMZN    4576.80
TSLA    6800.20
AAPL    1138.80
dtype: float64

In [35]:
print('Total portfolio Value = ${}'.format(total_port_value.sum()))

Total portfolio Value = $14056.529999999999