In [53]:
# Import key libraries
import pandas as pd

In [55]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
crypto_df = pd.read_csv('S&P500_Prices.csv')
crypto_df

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [57]:
# Obtain the Data Type of the Pandas Df
type(crypto_df)

pandas.core.frame.DataFrame

In [82]:
# Obtain the length of the Pandas Df
len(crypto_df)

2159

In [84]:
# Obtain the maximum value of the Pandas Df
max(crypto_df)

'sp500'

In [86]:
# Obtain the minimum value of the Pandas Df
min(crypto_df)

'sp500'

In [59]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
crypto_series = pd.read_csv('S&P500_Prices.csv').squeeze()
crypto_series

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [61]:
# Obtain the Data Type of the Pandas Series
type(crypto_series)

pandas.core.series.Series

In [63]:
# Obtain the maximum value of the Pandas Series
crypto_series.max()

3386.149902

In [65]:
# Obtain the minimum value of the Pandas Series
crypto_series.min()

1278.040039

In [88]:
# Obtain the average - Solution #1
print(crypto_series.mean())

# Obtain the average - Solution #2
print(crypto_series.sum()/crypto_series.count())

2218.7495540592868
2218.7495540592868

In [69]:
# Set inplace = True to ensure that change has taken place in memory 
crypto_series = crypto_series.sort_values()

In [71]:
# Notice that the indexes are now changed 
# You can also sort by index (revert back to the original Pandas Series) as follows: 
crypto_series.sort_values(ascending=True, inplace=True)
crypto_series

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [73]:
crypto_series.sort_values(ascending=False, inplace=True)
crypto_series

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64

In [75]:
# My favourite: Describe! 
# Describe is used to obtain all statistical information in one place 
crypto_series.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [77]:
3349 in crypto_series.values

False

In [92]:
crypto_series = round(crypto_series)
crypto_series

2037    3386.0
2035    3380.0
2033    3379.0
2034    3374.0
2038    3373.0
         ...
2       1294.0
1       1289.0
99      1286.0
98      1278.0
97      1278.0
Name: sp500, Length: 2159, dtype: float64

In [94]:
3349 in crypto_series.values

True